<h1>Login</h1>

<%= render partial: "flash" %>

<%= form_for @user, url: '/login' do |f| %>
    <%= render partial: 'users/form', locals: {f: f} %>
    <%= f.submit "Login" %>
<% end %>
<br>
<div class="google-signin">
    <%= link_to image_tag("google-login.png"), '/auth/google_oauth2', method: :post %>
</div>