<h2>Your Collection</h2>
    <div class="nav-grid">
        <div>
            <%= link_to image_tag("collection.jfif"), user_beers_path(user) %><br>
            Beers Tried
        </div>
        <div>
            <%= link_to image_tag("account-brewery.jfif"), user_breweries_path(user) %><br>
            Breweries Tried
        </div>
        <div>
            <%= link_to image_tag("user-top-ten.jfif"), user_beers_top10_path(user) %><br>
            <%= user.username %>'s Top 10
        </div>
        <div>
            <%= link_to image_tag("user-strong-beers.jfif"), user_beers_strongest_path(user) %><br>
            <%= user.username %>'s Strongest Beers
        </div>
        <div>
            <%= link_to image_tag("new-beer.jfif", class: "new-beer"), new_beer_path %><br>
            Add a New Beer
        </div>
    </div>