<h1>Sign Up</h1>

<%= form_for @user do |f| %>
    <%= render partial: 'form', locals: {f: f} %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br><br>

    <%= f.submit "Sign Up" %>
<% end %>