<h1>Welcome, <%= @user.username %></h1>

<h2>Your Collection</h2>
<div class="nav-grid">
    <div>
        <%= link_to image_tag("collection.jfif"), user_beers_path(@user) %><br>
        Beers Tried
    </div>
    <div>
        <%= link_to image_tag("account-brewery.jfif"), user_breweries_path(@user) %><br>
        Breweries Tried
    </div>
    <div>
        <%= link_to image_tag("new-beer.jfif", class: "new-beer"), new_beer_path %><br>
        Add a New Beer
    </div>
</div>

<h2>Explore</h2>
<div class="nav-grid">
    <div>
        <%= link_to image_tag("explore-beers.jfif"), beers_path %><br>
        Beers
    </div>
    <div>
        <%= link_to image_tag("explore-breweries.jfif"), breweries_path %><br>
        Breweries 
    </div>
</div>

