<h2>Explore</h2>
<div class="nav-grid">
    <div>
        <%= link_to image_tag("explore-beers.jfif"), beers_path %><br>
        Beers
    </div>
    <div>
        <%= link_to image_tag("explore-breweries.jfif"), breweries_path %><br>
        Breweries 
    </div>
    <div>
        <%= link_to image_tag("beer-top-ten.jfif"), beers_top10_path %><br>
        Top 10 Beers
    </div>
    <div>
        <%= link_to image_tag("strong-beers.jfif"), beers_strongest_path %><br>
        Strongest Beers
    </div>
    <div>
        <%= link_to image_tag("map-icon.jpg") %><br>
        Brewery Locator
    </div>
</div>