<h1>
    Breweries
    <% if @user %>
        <%= @user.username %> has drank beers from
    <% end %>
</h1>

<div class="info-list">
    <ul>
        <% sort_breweries_by_name(@breweries).each do |brewery| %>
            <li class="info-card brewery-list">
                <% if @user %>
                    <h2><%= link_to brewery.name, user_brewery_path(@user, brewery) %></h2>
                <% else %>
                    <h2><%= link_to brewery.name, brewery_path(brewery) %></h2>
                <% end %>
                <br>
                <p><%= brewery.location %></p>
                <p>Avg. Beer Rating: <%= brewery.average_rating_all_beers %></p>
            </li>
        <% end %>
    </ul>
</div>