<li>
    <strong><%= link_to beer.name, beer_path(beer) %></strong><br>
    <% if !@brewery %>
        Brewed by: <%= link_to beer.brewery.name, brewery_path(beer.brewery) %><br>
    <% end %>
    Style: <%= beer.style %><br>
    ABV: <%= beer.abv %><br>
    IBU: <%= beer.ibu %><br>

    <% if @user %>
        Rating: <%= get_review(@user, beer).rating %><br>
        Comment: <%= get_review(@user, beer).comment %><br>
        <%= link_to "Edit", edit_user_review_path(@user, get_review(@user, beer)) if @user == current_user %>
    <% else %>
        Avg. Rating: <%= beer.average_rating %>
    <% end %>
</li>