<h2><%= @beer.name %></h2>
<p>
    Brewed by: <%= @beer.brewery.name %><br>
    Style: <%= @beer.style %><br>
    ABV: <%= @beer.abv %><br>
    IBU: <%= @beer.ibu %>
</p>
<%= link_to "Review this beer", new_beer_review_path(@beer) %>

<h3>Reviews</h3>
<div>
    <% recent_reviews(@beer).each do |review| %>
        <%= render partial: 'reviews/review', locals: {review: review} %>
    <% end %>
    <%= link_to "All Reviews", beer_reviews_path(@beer) %>
</div>