<div class="info-box">
    <h2><%= @beer.name %></h2>
    <p>
        Brewed by: <%= link_to @beer.brewery.name, brewery_path(@beer.brewery) %><br>
        Style: <%= @beer.style.name %><br>
        ABV: <%= @beer.abv %><br>
        IBU: <%= @beer.ibu %><br>
        Avg. Rating: <%= @beer.average_rating %>
    </p>
</div>

<% if user_reviewed?(@beer) %>
    <h4>Your Rating: <%= user_rating(@beer) %></h4>
<% elsif logged_in? %>
    <%= link_to "Review this beer", new_beer_review_path(@beer), class: "btn-link" %>
<% end %>

<h3>Reviews</h3>
<div class="review-list">
    <% recent_reviews(@beer).each do |review| %>
        <%= render partial: 'reviews/review', locals: {review: review} %>
    <% end %>
</div>
<br>
<%= link_to "All Reviews", beer_reviews_path(@beer), class: "btn-link all-reviews" %>