<% if @user %>
    <h1><%= @user.username %>'s Top 10 Beers</h1>
<% else %>
    <h1>Top 10 Beers</h1>
<% end %>

<div class="info-list">
<% if @reviews %>
    <ol>
    <% @reviews.each do |review| %>
        <li>
            <strong><%= link_to review.beer.name, beer_path(review.beer) %></strong><br>
            Brewed by: <%= link_to review.beer.brewery.name, brewery_path(review.beer.brewery) %><br>
            ABV: <%= review.beer.abv %><br>
            IBU: <%= review.beer.ibu %><br>
            Rating: <%= review.rating %><br>
            Comment: <%= review.comment %><br>
            <%= link_to "Edit", edit_user_review_path(@user, review) if @user == current_user %>
        </li>
    <% end %>
    </ol>
<% elsif @beers %>
    <ol>
    <% @beers.each do |beer| %>
        <%= render partial: "beer", locals: {beer: beer} %>
    <% end %>
    </ol>
<% end %>
</div>