<div class="map-container">
    <h2>Breweries in <%= @location.titleize %></h2>
    <div class="brewery-results">
        <ol class="brewery-result-list">
            <% @breweries.each do |brewery| %>
                <li 
                    class="brewery-result-item"
                    data-latitude=<%= brewery["latitude"] %>
                    data-longitude=<%= brewery["longitude"] %>
                >
                    <h4><%= brewery["name"] %></h4>
                    <p><%= brewery["street"] %></p>
                </li>
            <% end %>
        </ol>
    </div>
    <div 
        id="map" 
        data-location="<%= @location %>"
        data-center-lat="<%= @location_lat %>"
        data-center-lng="<%= @location_lng %>"
    >
    </div>
</div>
<%= javascript_pack_tag 'map' %>
<%= 
    javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_KEY']}&callback=initMap",
    defer: true
%>