<!DOCTYPE html>
<html>
  <head>
    <title>BeerEnthusiast</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navTabs">
        <nav>
          <ul class="navLeft">
            <li>
              <%= link_to "Beers", beers_path %>
            </li>
            <li>
              <%= link_to "Breweries", breweries_path %>
            </li>
          </ul>
          <ul class="navRight">
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
