<!DOCTYPE html>
<html>
  <head>
    <title>BeerEnthusiast</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Merriweather:wght@700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul class="logo-small">
          <li>
            <%= link_to image_tag("beermug.jfif"), root_path, title: "Home" %>
          </li>
        </ul>
        <ul class="navLeft link-hover">
          <li>
            <%= link_to "Beers", beers_path %>
          </li>
          <li>
            <%= link_to "Breweries", breweries_path %>
          </li>
          <li>
            <%= link_to "Top 10", beers_top10_path %>
          </li>
          <li>
            <%= link_to "Strongest", beers_strongest_path %>
          </li>
          <li>
            <%= link_to "Brewery Locator", breweries_locator_path %>
          </li>
          <li>
            <%= form_tag("/beers/search", method: "get") do %>
              <%= text_field_tag(:q, nil, placeholder: "Search Beers") %>
              <%= submit_tag("Search") %>
            <% end %>
          </li>
        </ul>
        <ul class="navRight link-hover">
          <% if current_user %>
            <li>
              <%= link_to current_user.username, user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Log Out", logout_path %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign Up", signup_path %>
            </li>
            <li>
              <%= link_to "Log In", login_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
